<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliatepluslevel>
            <version>0.4.0</version>
        </Magestore_Affiliatepluslevel>
    </modules>
    <frontend>
        <routers>
            <affiliatepluslevel>
                <use>standard</use>
                <args>
                    <module>Magestore_Affiliatepluslevel</module>
                    <frontName>affiliatepluslevel</frontName>
                </args>
            </affiliatepluslevel>
        </routers>
        <layout>
            <updates>
                <affiliatepluslevel>
                    <file>affiliatepluslevel.xml</file>
                </affiliatepluslevel>
            </updates>
        </layout>
		<events>
			<affiliateplus_account_save_after>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>accountSaveAfter</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_account_save_after>
			
			<affiliateplus_calculate_tier_commission>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>calculateTierCommission</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_calculate_tier_commission>
			<affiliateplusprogram_calculate_tier_commission>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>calculateProgramTierCommission</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplusprogram_calculate_tier_commission>
			
			<affiliateplus_prepare_program>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>affiliateplusPrepareProgram</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_prepare_program>
			
			<affiliateplus_recalculate_commission>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>createdTransactionAndRecalculateCommission</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_recalculate_commission>
			
			<!--affiliateplus_account_navigation_add_link>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addLinkToNavigation</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_account_navigation_add_link-->
			
			<affiliateplus_prepare_sales_collection>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>joinTransactionToOtherTableFrontend</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_prepare_sales_collection>
		</events>
		<translate>
        	<modules>
        		<Magestore_Affiliatepluslevel>
        			<files>
        				<default>Magestore_Affiliatepluslevel.csv</default>
        			</files>
        		</Magestore_Affiliatepluslevel>
        	</modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<affiliateplusleveladmin>
				<use>admin</use>
				<args>
					<module>Magestore_Affiliatepluslevel</module>
					<frontName>affiliateplusleveladmin</frontName>
				</args>
			</affiliateplusleveladmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<affiliatepluslevel>
					<file>affiliatepluslevel.xml</file>
				</affiliatepluslevel>
			</updates>
		</layout>
		 <events>
        	<affiliateplus_adminhtml_add_column_account_grid>
        		<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addColumnToAccountGrid</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
        	</affiliateplus_adminhtml_add_column_account_grid>
			
			<affiliateplus_adminhtml_join_account_other_table>
        		<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>joinAccountToReferral</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
        	</affiliateplus_adminhtml_join_account_other_table>
			
			<affiliateplus_adminhtml_add_account_tab>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addTabToAccount</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_add_account_tab>
			
			<affiliateplus_adminhtml_add_account_info_fieldset>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addFieldToAccountFieldset</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_add_account_info_fieldset>
			
			<affiliateplus_adminhtml_after_save_account>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>afterSaveAccount</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_after_save_account>
			
			<affiliateplus_adminhtml_add_transaction_tab>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addTabToTransaction</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_add_transaction_tab>
			
			<affiliateplus_adminhtml_join_transaction_other_table>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>joinTransactionToOtherTable</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_join_transaction_other_table>
			
			<affiliateplus_adminhtml_add_column_account_transaction_grid>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addColumnAccountTransactionGrid</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_add_column_account_transaction_grid>
			
			<affiliateplus_adminhtml_after_set_transaction_collection>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>setTransactionCollection</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_adminhtml_after_set_transaction_collection>
			
			<affiliateplusprogram_adminhtml_edit_actions>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>addTierFieldToProgram</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplusprogram_adminhtml_edit_actions>
            
            <affiliateplus_adminhtml_prepare_commission>
                <observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>adminhtmlPrepareCommission</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
            </affiliateplus_adminhtml_prepare_commission>
		</events>
		<translate>
        	<modules>
        		<Magestore_Affiliatepluslevel>
        			<files>
        				<default>Magestore_Affiliatepluslevel.csv</default>
        			</files>
        		</Magestore_Affiliatepluslevel>
        	</modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <affiliatepluslevel>
                <class>Magestore_Affiliatepluslevel_Model</class>
                <resourceModel>affiliatepluslevel_mysql4</resourceModel>
            </affiliatepluslevel>
            <affiliatepluslevel_mysql4>
                <class>Magestore_Affiliatepluslevel_Model_Mysql4</class>
                <entities>
                    <tier>
                        <table>affiliatepluslevel_tier</table>
                    </tier>
					<transaction>
                        <table>affiliatepluslevel_transaction</table>
                    </transaction>
                </entities>
            </affiliatepluslevel_mysql4>
        </models>
        <resources>
            <affiliatepluslevel_setup>
                <setup>
                    <module>Magestore_Affiliatepluslevel</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliatepluslevel_setup>
            <affiliatepluslevel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliatepluslevel_write>
            <affiliatepluslevel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliatepluslevel_read>
        </resources>
        <blocks>
            <affiliatepluslevel>
                <class>Magestore_Affiliatepluslevel_Block</class>
            </affiliatepluslevel>
        </blocks>
        <helpers>
            <affiliatepluslevel>
                <class>Magestore_Affiliatepluslevel_Helper</class>
            </affiliatepluslevel>
        </helpers>
		<template>
            <email>		
                <affiliateplus_email_multilevel_new_transaction_account_email_template translate="label" module="affiliatepluslevel">
                    <label>Email template sent to tier affiliate when a transaction is created</label>
                    <file>affiliatepluslevel/account_newtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_multilevel_new_transaction_account_email_template>
				
                <affiliateplus_email_multilevel_updated_transaction_account_email_template translate="label" module="affiliatepluslevel">
                    <label>Email template sent to tier affiliate when a transaction is changed</label>
                    <file>affiliatepluslevel/account_updatedtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_multilevel_updated_transaction_account_email_template>
                <affiliateplus_email_multilevel_reduce_commission_account_email_template translate="label" module="affiliatepluslevel">
                    <label>Email template sent to tier affiliate when commission is reduced</label>
                    <file>affiliatepluslevel/account_reducedtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_multilevel_reduce_commission_account_email_template>
            </email>
		</template>
		<events>
			<affiliateplus_complete_transaction>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>completeTransaction</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_complete_transaction>
            
            <affiliateplus_reduce_transaction>
                <observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>reduceTransaction</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
            </affiliateplus_reduce_transaction>
			
			<affiliateplus_cancel_transaction>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>cancelTransaction</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_cancel_transaction>
			
			<affiliateplus_reset_transaction_commission>
				<observers>
        			<magestore_affiliatepluslevel_observer>
        				<type>singleton</type>
        				<class>affiliatepluslevel/observer</class>
        				<method>resetTransactionCommission</method>
        			</magestore_affiliatepluslevel_observer>
        		</observers>
			</affiliateplus_reset_transaction_commission>
		</events>
    </global>
	<default>
    	<affiliateplus>
            <commission>
                <max_level>5</max_level>
            </commission>
            <email>
                <multilevel_is_sent_email_account_new_transaction>1</multilevel_is_sent_email_account_new_transaction>
                <multilevel_is_sent_email_account_updated_transaction>1</multilevel_is_sent_email_account_updated_transaction>
                <multilevel_new_transaction_account_email_template>affiliateplus_email_multilevel_new_transaction_account_email_template</multilevel_new_transaction_account_email_template>
                <multilevel_updated_transaction_account_email_template>affiliateplus_email_multilevel_updated_transaction_account_email_template</multilevel_updated_transaction_account_email_template>
                <multilevel_reduce_commission_account_email_template>affiliateplus_email_multilevel_reduce_commission_account_email_template</multilevel_reduce_commission_account_email_template>
            </email>
		</affiliateplus>
	</default>
</config>
