<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Avenues>
            <version>0.1.0</version>
        </Mage_Avenues>
    </modules>
    <global>
        <models>
            <Avenues>
                <class>Mage_Avenues_Model</class>
                <resourceModel>Avenues_mysql4</resourceModel>
            </Avenues>
            <Avenues_mysql4>
                <class>Mage_Avenues_Model_Mysql4</class>
                <entities>
                    <api_debug><table>Avenues_api_debug</table></api_debug>
                </entities>
            </Avenues_mysql4>
        </models>
        <resources>
            <Avenues_setup>
                <setup>
                    <module>Mage_Avenues</module>
                    <class>Mage_Avenues_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Avenues_setup>
            <Avenues_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Avenues_write>
            <Avenues_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Avenues_read>
        </resources>
        <blocks>
            <Avenues><class>Mage_Avenues_Block</class></Avenues>
        </blocks>
        <payment>
            <cc>
                <types>
                    <DI>
                        <code>DI</code>
                        <name>Discover</name>
                        <order>60</order>
                    </DI>
                    <JCB>
                        <code>JCB</code>
                        <name>JCB</name>
                        <order>61</order>
                    </JCB>
                    <DICL>
                        <code>DICL</code>
                        <name>Diners Club</name>
                        <order>62</order>
                    </DICL>
                    <ENR>
                        <code>ENR</code>
                        <name>enRoute</name>
                        <order>63</order>
                    </ENR>
                    <SS>
                        <code>SS</code>
                        <name>Switch/Solo</name>
                        <order>64</order>
                    </SS>
                </types>
            </cc>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <Avenues_standard>/Avenues/standard</Avenues_standard>
        </secure_url>
        <routers>
            <Avenues>
                <use>standard</use>
                <args>
                    <module>Mage_Avenues</module>
                    <frontName>cCAVENUE</frontName>
                </args>
            </Avenues>
        </routers>
        <translate>
            <modules>
                <Mage_Avenues>
                    <files>
                        <default>Mage_Avenues.csv</default>
                    </files>
                </Mage_Avenues>
            </modules>
        </translate>
        <layout>
            <updates>
                <Avenues>
                    <file>Avenues.xml</file>
                </Avenues>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Avenues>
                    <files>
                        <default>Mage_Avenues.csv</default>
                    </files>
                </Mage_Avenues>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <Avenues_standard>
                  <model>Avenues/standard</model>
                  <title>Avenues Standard</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </Avenues_standard>
        </payment>
    </default>
</config>