<!--@subject {{var affiliate.name}} thinks you'd love Rooja @-->

<!--@style 
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
 @-->

<table id="Table_01" width="650" height="638" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;margin: 0 auto;">
	<tr style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<td colspan="2" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
			<a href="{{store url=" "}}"><img src="{{skin url="images/email/new-account_02.jpg" _area='frontend'}}" width="650" height="180" alt="" style="display: block;padding: 10px 10px 10px 0;"></a></td>
	</tr>
	<tr style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<td style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
			<img src="{{skin url="images/email/invitation_01.jpg" _area='frontend'}}" width="336" height="375" alt="" style="display: block;padding: 10px 10px 10px 0;"></td>
		<td id="content" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;vertical-align: top;">

			<p class="password" style="background: #e2e2e2;font-size: 12px;line-height: 16px;padding: 10px 17px;margin: 10px 0px;width: 270px;">
				<strong style="color: #111;font-size: 12px;text-transform: uppercase;display: block;padding: 0 0 10px 0;">{{var affiliate.name}} has invited you</strong>
			{{var msg}}
			</p>


		<img src="{{skin url="images/email/percent.jpg" _area='frontend'}}" alt="Account Features" style="display: block;padding: 10px 10px 10px 0;">
Get access to internationally renowned designers and brands at prices you won't believe. Accept your invitation and join us today!		

<a href="{{store url="customer/account/create"}}"><img src="{{skin url="images/email/accept.jpg" _area='frontend'}}" alt="accept invite" style="display: block;padding: 10px 10px 10px 0;">
	</a></td></tr>
	<tr style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<td colspan="2" id="footer" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 11px;color: #111;line-height: 18px;">
			<font face="Trebuchet MS, Arial, Helvetica, sans-serif" size="1" color="#999999"><img src="{{skin url="images/email/break.jpg" _area='frontend'}}" alt="" style="display: block;padding: 10px 10px 10px 0;"><center>
			to find answers to your questions or contact us,<br/>
            Ph: {{config path='general/store_information/phone'}} <br/>
            Email: support@rooja.in<br/><br/>
visit our <a href="http://rooja.com/contact">customer care</a> section or write us at:<br/>
Rooja fashion private limited<br/>
c-169 naraina industrial area, phase - I<br/>
new delhi - 110028<br/>
<br/>

please visit us again soon at <a href="http://www.rooja.com">www.rooja.com.</a> </center></font></td>
	</tr>
</table>
