<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<html>
<head>
<title>Welcome to Rooja!</title>

<meta httpequiv="ContentType" content="text/html; charset=iso88591">
</head>
<table id="Table_01" width="650" height="638" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;margin: 0 auto;">
	<tr style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<td colspan="2" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
			 <img src="{{skin url="images/email/new-account_02.jpg" _area='frontend'}}" width="650" height="180" alt="Rooja.com" style="display: block;padding: 10px 10px 10px 0;"></td>
	</tr>
	<tr style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<td style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
			<img src="{{skin url="images/email/new-account_03.jpg" _area='frontend'}}" width="336" height="375" alt="" style="display: block;padding: 10px 10px 10px 0;"></td>
		<td style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<img src="{{skin url="images/email/register.jpg" _area='frontend'}}" alt="Thanks for Registering!" style="display: block;padding: 10px 10px 10px 0;">
		<p style="color:black;font-family: Helvetica, Arial, sans-serif;font-size: 12px;margin: 0em 0em 1em 0em;">Hello fellow Expressionista! Happy to have you on board. </p>
		<p style="color:black;font-family: Helvetica, Arial, sans-serif;font-size: 12px;margin: 0em 0em 1em 0em;">Great offers and deals on coveted luxury fashion products await you beyond this e-mail. </p>
		<p style="color:black;font-family: Helvetica, Arial, sans-serif;font-size: 12px;margin: 0em 0em 1em 0em;">For any kind of sizing or styling queries please do not hesitate to chat with our online stylists. </p>
		<p style="color:black;font-family: Helvetica, Arial, sans-serif;font-size: 12px;margin: 0em 0em 1em 0em;">You will receive regular updates on all the new picks we have in store for you. For now, Let's go style up!!</p>
<br />
	<a href="http://www.rooja.com"><img src="{{skin url="images/email/start.jpg" _area='frontend'}}" alt="start shopping!" /><a>
	
	</td></tr>
	<tr style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 13px;color: #111;line-height: 18px;">
		<td colspan="2" id="footer" style="border-collapse: collapse;font-family: Helvetica, Arial, sans-serif;font-size: 11px;color: #111;line-height: 18px;">
			<font face="Trebuchet MS, Arial, Helvetica, sans-serif" size="1" color="#999999"><img src="{{skin url="images/email/break.jpg" _area='frontend'}}" alt="" style="display: block;padding: 10px 10px 10px 0;"><center>
			to find answers to your questions or contact us,<br/>
            Ph: {{config path='general/store_information/phone'}} <br/>
            Email: support@rooja.in<br/><br/>
visit our <a href="http://rooja.com/contact">customer care</a> section or write us at:<br/>
Rooja fashion private limited<br/>
c-169 naraina industrial area, phase - I<br/>
new delhi - 110028<br/>
<br/>

please visit us again soon at <a href="http://www.rooja.com">www.rooja.com.</a> </center></font>
		</td>
	</tr>
</table>

</html>