<?xml version="1.0"?>
 
<config>
    <modules>
        <Rbanh_Dev>
            <version>0.1.0</version>
        </Rbanh_Dev>
    </modules>
    <frontend>
        <routers>
            <routerone>
                <use>standard</use>
                <args>
                    <module>Rbanh_Dev</module>
                    <frontName>rbanh</frontName>
                </args>
            </routerone>
        </routers>
    </frontend>
</config>