<?xml version="1.0"?>
 
<config>
    <modules>
        <Rbanh_Dev>
            <version>0.1.0</version>
        </Rbanh_Dev>
    </modules>
    <frontend>
        <routers>
            <routerone>
                <use>standard</use>
                <args>
                    <module>Rbanh_Dev</module>
                    <frontName>rbanh</frontName>
                </args>
            </routerone>
        </routers>
    </frontend>
    <global>
        <events>
          <catalog_product_get_final_price>
            <observers>
              <rbanh_dev_model_catalog_model_price_observer>
                <type>singleton</type>
                <class>Rbanh_Dev_Model_Catalog_Model_Price_Observer</class>
                <method>apply_custom_rates</method>
              </rbanh_dev_model_catalog_model_price_observer>
            </observers>
          </catalog_product_get_final_price>     
        </events>
    </global>
</config>