
/* ~~~~~ LOGIN ~~~~~ */

html {
        background: url(../images/splash/bg.jpg) no-repeat top left fixed #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body{
	font-family: helvetica, arial, sans-serif;
	font-size: .625em;
	background:;
	color:#ddd;
}

li.error-msg {
	font-size: 14px;
	padding: 10px 0;
	text-align: center;
	display: block;
	background: #51315C;
	width: 100%;
	margin-bottom: 23px;
}

#notifyWrapper div.wrapper, #aboutWrapper div.wrapper{
    width:380px;
    padding:15px;
    background:#51315c;
    background:rgba(81,49,92,.9);
    margin:50px auto 0;
}
#aboutWrapper div.wrapper{margin:0;background:#51315c;}

#loginTabs{margin:-45px 0 0px -15px;}
#loginTabs ul li{display:inline;}
#loginTabs ul li a{float:left;margin-right:1px;width:90px;height:30px;}
#loginTabs ul li a.selected{background-position:bottom left;}
#loginTabs ul li a#loginTab{background-image:url(../images/splash/btns/login.png);}
#loginTabs ul li a#getInvitedTab{background-image:url(../images/splash/btns/get-invited.png);}

#mainHeader.login{padding-top:15px;}
h1#logo{
    background-image:url(../images/splash/rooja-logo.png);
    width:179px;height:85px;
    margin:0px auto 12px;
}
#highlight{
    background-image:url(../images/splash/about-blurb3.png);
     width:353px;height:12px;
     margin:0 auto 38px;
}
#members{
    background-image:url(../images/splash/members-sign-in.png);
    width:176px;height:16px;
    float:left;
    margin:0 20px 15px 0;
}
#waitingList{
    background-image:url(../images/splash/waiting-list.png);
    width:337px;height:16px;
    margin:0 0px 15px 25px;
}
#createAccount{
    background-image:url(../images/splash/create-an-account.png);
    width:228px;height:16px;
    margin-bottom:15px;
}
#retrievePassword{
    background-image:url(../images/splash/retrieve-your-password-here.png);
    width:365px;height:16px;
    margin-bottom:15px;
}
#forgetPass{margin-top:0px;text-decoration:underline;color:#c7becc;float:right;}
#forgetPass:hover{color:#fff;}

#signUp{
    background-image:url(../images/splash/sign-up.png);
    width:84px;height:16px;
    margin-bottom:15px;
}
#getEarlyAccess{
    background-image:url(../images/splash/get-early-access.png);
    width:208px;height:16px;
    margin-bottom:15px;
}
#earlyAccess{
    background-image:url(../images/splash/become-a-member.png);
    width:248px;height:19px;
    margin-bottom:18px;
}
#nowLoggedOut{
    background-image:url(../images/splash/you-are-now-logged-out.png);
    width:303px;height:16px;
    margin-bottom:15px;
}

form{
/*    border-bottom:5px solid #3b2243;*/
    overflow:hidden;
    margin-bottom:20px;
    clear:both;
}

input{
    background-color:#684e70;
    color:#2e1a33;
    font-size:1.4em;
    width:360px;
    padding:10px;
    margin:0 0 10px;
    cursor:auto;
    border:none;outline:none;
}
form input#loginBtn{
    background:url(../images/splash/btns/sign-in.png) no-repeat top left;
    width:99px;height:42px;
    float:right;
    cursor:pointer;
}
#fBConnect{
    background:url(../images/splash/facebook-btn.png);
    width:162px;height:22px;
    float:left;
    margin-top:10px;
    cursor:pointer;
    border: none;
}

#tellMeMore{
    background-image:url(../images/splash/join-now-btn.png);
    width:382px;height:39px;
    margin-bottom:15px;
}

#getOnList{
    background-image:url(../images/splash/get-on-list-now-btn.png);
    width:382px;height:39px;
    margin-bottom:15px;
}



#brands{
   background:#3e2647;
   padding:25px 15px;
   width:380px;
   overflow:hidden;
   margin:0 auto 50px;
   position:relative;
   border-top:6px solid #472a4f;
}

#brands .brandCol{display:block;width:126px;height:19px;text-align:center;position:relative;}
#brands img{vertical-align:middle;}

#navLinks{
    background:#000;
    padding:10px;
    overflow:hidden;
    border-top:1px solid #222;
    margin-top:40px;
    position:fixed;
    bottom:0px;
    width:100%;
    text-align:center;
    z-index:9999;
	height: 20px;
}

.navCont{margin: 0px auto;width:650px;text-align:center;}

#navLinks ul{
	text-align: center;
	line-height: 19px;
	margin: 0 auto;
	width: 485px;
	height: 19px;
}

#navLinks ul li{
    display:inline;
    font-size:1.2em;
    text-transform:uppercase;
    padding:0px 14px;
}
#navLinks ul li a{color:#fff;}
#navLinks ul li a:hover{color:#ab8fb2;}

#socialLinks{margin:-20px 0 0 0;}
#socialLinks a{margin-right:15px;height:20px;float:left;}
#socialLinks a:hover{background-position:bottom left;}
#socialLinks a#facebook{
    background-image:url(../images/splash/facebook3.png);
    width:20px;
}
#socialLinks a#twitter{
    background-image:url(../images/splash/twitter3.png);
    width:20px;
}
#fbLikes{float:left;}

/* ~~~~~ About ~~~~~ */


h1#about{
    background-image:url(../images/splash/about.png);
    width:176px;height:37px;
    margin-bottom:25px; 
}

.hiwIcon{ margin:10px 12px 0 0;}

.hiwText{float:left;width:321px;}

#discount{
    background-image:url(../images/splash/discount.png);
    width:134px;height:19px;
    margin:18px 0;
}
#howItWorks{
    background-image:url(../images/splash/how-it-works.png);
    width:200px;height:19px;
    margin:18px 0;
}

#roojaValues{
    background-image:url(../images/splash/core-values.png);
    width:306px;height:19px;
    margin:18px 0; 
}
#roojaPromises{
    background-image:url(../images/splash/roojas-promises.png);
    width:253px;height:19px;
    margin:18px 0; 
}

#whyRooja{
    background-image:url(../images/splash/why-rooja.png);
    width:165px;height:19px;
    margin:18px 0; 
}

#exclusiveBrands{
    background-image:url(../images/splash/exclusive-brands.png);
    width:256px;height:19px;
    margin:18px 0; 
}
#socialMedia{
    background-image:url(../images/splash/social-media.png);
    width:187px;height:19px;
    margin:18px 0; 
}

#gender label{color:#684E70;display:inline-block;font-size:14px;}
#gender select{float:left;}

#brands{
   background:#3e2647;
   padding:25px 15px 25px;
   width:380px;
   overflow:hidden;
   margin:0 auto 0px;
}

#brands ul li{display:inline;position:relative;padding:0px 45px 25px 0;float:left;}
#brands ul li.last{padding-right:0;}
#brands ul li.bot{padding-bottom:0;}
#brands ul li img{vertical-align:middle;}

#brands ul li.two{
    padding-right:35px;
}
#brands ul li.four{
    padding-left:25px;
}

#brands ul li.five{
    padding-left:35px;
    padding-right:61px;
}
#brands ul li.nine{
    padding-left:3px;
    padding-right:67px;
}

.twitter-follow-button{width:170px !important;float:left;margin-bottom:20px;}
.fb_iframe_widget  div.fbDarkWidget{background-color:#fff !important;border:none !important;margin-top:20px;}

/* ~~~~~ Typography ~~~~~ */

a {text-decoration:none; color:#fff;}
a:hover {color:#ab8fb2;}
a.selected{color:;}
h1 {font-size: ; color:  ; margin-bottom: ; font-weight:bold;}
h2 {font-size: 1.8em; color:  ; margin-bottom: ; font-weight:bold;}
h3 {font-size: 1.5em; font-weight: bold; color:  ; margin: ;}
p {font-size:1.3em;line-height:1.5em;margin-bottom:16px;}

/* UTILITY CLASSES */
.fl {float: left;}
.fr {float: right;}
.cl {clear: left;}
.cr {clear: right;}
.clear {clear: both;}
em{font-style:italic;}
strong{font-weight:bold;}
.tr{text-indent:-9999px;display:block;background:no-repeat top left;}

/* ~~~~~ Advanced Login Classes - AM edit ~~~~~ */
#notifyWrapper .validation-advice {margin: 0 0 10px;}
#notifyWrapper #submitBtn {float: right;width: 99px;background: #271D2A;color: #fff;text-align: center;font-weight: normal;cursor:pointer;}
.register h3.legend {font-size: 14px;margin: 10px 0;}
.register label {font-size: 12px;}
/*.input-box {margin: 5px 0;}*/
.register .checkbox {float: left;width: 20px;margin: 0 10px 0;}

.fields .field {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.customer-name .field input {
	width: 166px;
}
.customer-name .field:first-child {
	margin-right: 8px;
}

.defaultvalue_label {
	color: rgba(46,26,51,0.75) !important;
}
.defaultvalue_label_focus {
	color: rgba(46,26,51,0.5) !important;
}


/* ~~~~~ MY BETA LIST ~~~~~ */
#MyBetaList form input#MyBetaList-email{
    background-color:#684e70;
    background-image:none;
    color:#2e1a33;
    font-size:1.4em;
    width:360px;
    padding:10px;
    height:auto;
    margin:0 0 10px;
    text-indent:0;
    cursor:auto;
}
#MyBetaList form input{
    background:url(../images/splash/join-now-btn-1.png) no-repeat top left;
    width:109px;height:40px;
    margin:0 0 0px 271px;
    outline:none;border:none;
    float:none;
    text-indent:-9999px;display:block;
    cursor:pointer;
}
#tellMeMore{
    background-image:url(../images/splash/tell-me-more-btn.png);
    width:380px;height:41px;
}

#MyBetaList-form{border:none;margin-bottom:8px;}

#MyBetaList{padding:0 !important;margin:0 !important;background-color:transparent !important;
    font-size:10px !important;line-height:10px !important;}
#MyBetaList-step1 h2, #MyBetaList-step1 p{display:none;}
#MyBetaList-step2{margin-bottom:25px;color:#ccc;}

#MyBetaList a#MyBetaList-referrer-link:link, #MyBetaList a#MyBetaList-referrer-link:visited{color:#24112a !important;}
.twitter-share-button, .twitter-count-none{margin-top:-1px;}
.alignRight{text-align:right;border-bottom:5px solid #3b2243;margin-bottom:20px;padding-bottom:20px;}