
/* ~~~~~ LOGIN ~~~~~ */

html {
        background: url(../images/splash/bg.jpg) no-repeat top left fixed #000;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
body{
	font-family: helvetica, arial, sans-serif;
	font-size: .625em;
	background:;
	color:#ddd;
}

li.error-msg, li.success-msg {
	font-size: 14px;
	padding: 10px 0;
	text-align: center;
	display: block;
	background: #51315C;
	width: 100%;
	margin-bottom: 23px;
}
#loginCont .error-msg {margin-bottom:10px;}

.register .error-msg{text-align:left;padding-left:10px;}
.register .error-msg li{margin-bottom:8px;}

#notifyWrapper div.wrapper, #aboutWrapper div.wrapper, #contactWrapper div.wrapper{
    width:380px;
    padding:15px;
    background:#51315c;
    background:rgba(81,49,92,.9);
    margin:50px auto 0;
}
#aboutWrapper div.wrapper, #contactWrapper div.wrapper{margin:0;background:#51315c;}

#loginTabs{margin:-45px 0 0px -15px;}
#loginTabs ul li{display:inline;}
#loginTabs ul li a{float:left;margin-right:1px;width:90px;height:30px;}
#loginTabs ul li a.selected{background-position:bottom left;}
#loginTabs ul li a#loginTab{background-image:url(../images/splash/btns/login.png);}
#loginTabs ul li a#getInvitedTab{background-image:url(../images/splash/btns/get-membership.png);width:130px;}

#mainHeader.login{padding-top:15px;margin-top:30px;}
h1#logo{
    background-image:url(../images/splash/rooja-logo.png);
    width:179px;height:87px;
    margin:0px auto 12px;
}
#highlight{
    background-image:url(../images/splash/header/members-only-prices.png);
     width:282px;height:35px;
     margin:0 auto 38px;
}
#members{
    background-image:url(../images/splash/members-sign-in.png);
    width:176px;height:16px;
    float:left;
    margin:0 20px 15px 0;
}
#waitingList{
    background-image:url(../images/splash/waiting-list.png);
    width:337px;height:16px;
    margin:0 0px 15px 25px;
}
#createAccount{
    background-image:url(../images/splash/create-an-account.png);
    width:228px;height:16px;
    margin-bottom:15px;
}
#retrievePassword{
    background-image:url(../images/splash/retrieve-your-password-here.png);
    width:365px;height:16px;
    margin-bottom:15px;
}
#forgetPass{margin-top:0px;text-decoration:underline;color:#c7becc;float:right;}
#forgetPass:hover{color:#fff;}

#signUp{
    background-image:url(../images/splash/sign-up.png);
    width:84px;height:16px;
    margin-bottom:15px;
}
#getEarlyAccess{
    background-image:url(../images/splash/get-early-access.png);
    width:208px;height:16px;
    margin-bottom:15px;
}
#earlyAccess{
    background-image:url(../images/splash/become-a-member.png);
    width:248px;height:19px;
    margin-bottom:18px;
}
#nowLoggedOut{
    background-image:url(../images/splash/you-are-now-logged-out.png);
    width:303px;height:16px;
    margin-bottom:15px;
}
#contactHeader{
    background-image:url(../images/splash/contact-us.png);
    width:161px;height:19px;
    margin-bottom:18px;
}

form{
/*    border-bottom:5px solid #3b2243;*/
    overflow:hidden;
    margin-bottom:20px;
    clear:both;
}

input{
    background-color:#684e70;
    color:#2e1a33;
    font-size:1.4em;
    width:360px;
    padding:10px;
    margin:0 0 10px;
    cursor:auto;
    border:none;outline:none;
}
form button#send2{
    background:url(../images/splash/btns/sign-in.png) no-repeat top left;
    width:99px;height:42px;
    float:right;
    cursor:pointer;
    border:0;
    outline:0;
}
#fBConnect{
    background:url(../images/splash/facebook-btn.png);
    width:162px;height:22px;
    float:left;
    margin-top:10px;
    cursor:pointer;
    border: none;
}

#tellMeMore{
    background-image:url(../images/splash/join-now-btn.png);
    width:382px;height:39px;
    margin-bottom:15px;
}

#getOnList{
    background-image:url(../images/splash/get-on-list-now-btn.png);
    width:382px;height:39px;
    margin-bottom:15px;
}



#brands{
   background:#3e2647;
   padding:25px 15px;
   width:380px;
   overflow:hidden;
   margin:0 auto 50px;
   position:relative;
   border-top:6px solid #472a4f;
}

#brands .brandCol{display:block;width:126px;height:19px;text-align:center;position:relative;}
#brands img{vertical-align:middle;margin-bottom:5px;}

.slideshow{
		width:380px;
		list-style: none;
		position:relative;
		display:block;
		height:19px;
	}
 	ul.slideshow li {
		position:absolute;
		left:0px;
		top:0px;
		display:inline;
		height:19px;
		
	}
	ul.slideshow li.show {
		z-index:500;	
	}

#navLinks{
    background:#000;
    padding:10px;
    overflow:hidden;
    border-top:1px solid #222;
    margin-top:40px;
    position:fixed;
    bottom:0px;
    width:100%;
    text-align:center;
    z-index:9999;
	height: 20px;
}

.navCont{margin: 0px auto;width:650px;text-align:center;}

#navLinks ul{
	text-align: center;
	line-height: 19px;
	margin: 0 auto;
	width: 485px;
	height: 19px;
}

#navLinks ul li{
    display:inline;
    font-size:1.2em;
    text-transform:uppercase;
    padding:0px 14px;
}
#navLinks ul li a{color:#fff;}
#navLinks ul li a:hover{color:#ab8fb2;}

#socialLinks{margin:-20px 0 0 0;}
#socialLinks a{margin-right:15px;height:20px;float:left;}
#socialLinks a:hover{background-position:bottom left;}
#socialLinks a#facebook{
    background-image:url(../images/splash/facebook3.png);
    width:20px;
}
#socialLinks a#twitter{
    background-image:url(../images/splash/twitter3.png);
    width:20px;
}
#fbLikes{float:left;}

/* ~~~~~ About ~~~~~ */


h1#about{
    background-image:url(../images/splash/about.png);
    width:176px;height:37px;
    margin-bottom:25px; 
}

.hiwIcon{ margin:10px 12px 0 0;}

.hiwText{float:left;width:321px;}

#discount{
    background-image:url(../images/splash/discount.png);
    width:134px;height:19px;
    margin:18px 0;
}
#howItWorks{
    background-image:url(../images/splash/how-it-works.png);
    width:200px;height:19px;
    margin:18px 0;
}

#roojaValues{
    background-image:url(../images/splash/core-values.png);
    width:306px;height:19px;
    margin:18px 0; 
}
#roojaPromises{
    background-image:url(../images/splash/roojas-promises.png);
    width:253px;height:19px;
    margin:18px 0; 
}

#roojaProducts{
    background-image:url(../images/splash/roojas-products.png);
    width:254px;height:19px;
    margin:18px 0; 
}

#whyRooja{
    background-image:url(../images/splash/why-rooja.png);
    width:165px;height:19px;
    margin:18px 0; 
}

#exclusiveBrands{
    background-image:url(../images/splash/exclusive-brands.png);
    width:256px;height:19px;
    margin:18px 0; 
}
#socialMedia{
    background-image:url(../images/splash/social-media.png);
    width:187px;height:19px;
    margin:18px 0; 
}

#gender label{color:#ccc;float:left;font-size:14px;padding:4px 15px 0 10px;}
#gender select{float:left;width:100px;}


/*#brands ul li{display:inline;position:relative;padding:0px 45px 25px 0;float:left;}*/
#brands ul li.last{padding-right:0;}
#brands ul li.bot{padding-bottom:0;}
#brands ul li img{vertical-align:middle;}

#brands ul li.two{
    padding-right:35px;
}
#brands ul li.four{
    padding-left:25px;
}

#brands ul li.five{
    padding-left:35px;
    padding-right:61px;
}
#brands ul li.nine{
    padding-left:3px;
    padding-right:67px;
}

.twitter-follow-button{width:170px !important;float:left;margin-bottom:20px;}
.fb_iframe_widget  div.fbDarkWidget{background-color:#fff !important;border:none !important;margin-top:20px;}

/* ~~~~~ Typography ~~~~~ */

a {text-decoration:none; color:#fff;}
a:hover {color:#ab8fb2;}
a.selected{color:;}
h1 {font-size: ; color:  ; margin-bottom: ; font-weight:bold;}
h2 {font-size: 1.8em; color:  ; margin-bottom: ; font-weight:bold;}
h3 {font-size: 1.5em; font-weight: bold; color:  ; margin: ;}
p {font-size:1.3em;line-height:1.5em;margin-bottom:16px;}.static h2, .static h3{
    margin:18px 0;
}

#contactWrapper form input, #contactWrapper form textarea{
    background-color:#684e70;
    background-image:none;
    color:#2e1a33;
    font-size:1.4em;
    width:360px;
    padding:6px 10px;
    height:auto;
    margin:0 0 18px;
    text-indent:0;
    outline:none;
    border:none;
    font-family: helvetica, arial, sans-serif;
}
#contactWrapper form textarea{height:70px;}
#contactWrapper form #submitBtn{
    width:100px;
    text-align:center;
    background-color:#2e1a33;
    color:#ddd;
    text-transform:uppercase;
    font-size:1.6em;
    padding:10px;
    cursor:pointer;
    border:none;
}

/* UTILITY CLASSES */
.fl {float: left;}
.fr {float: right;}
.cl {clear: left;}
.cr {clear: right;}
.clear {clear: both;}
em{font-style:italic;}
strong{font-weight:bold;}
.tr{text-indent:-9999px;display:block;background:no-repeat top left;}

/* ~~~~~ Advanced Login Classes - AM edit ~~~~~ */
#notifyWrapper .validation-advice {margin: 0 0 10px;}
#notifyWrapper #submitBtn {float: right;width: 99px;background: #271D2A;color: #fff;text-align: center;font-weight: normal;cursor:pointer;}
.register h3.legend {font-size: 14px;margin: 10px 0;}
.register label {font-size: 12px;}
/*.input-box {margin: 5px 0;}*/
.register .checkbox {float: left;width: 20px;margin: 0 10px 0;}

.fields .field {
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.customer-name .field input {
	width: 166px;
}
.customer-name .field:first-child {
	margin-right: 8px;
}

.defaultvalue_label {
	color: rgba(46,26,51,0.75) !important;
}
.defaultvalue_label_focus {
	color: rgba(46,26,51,0.5) !important;
}

::-webkit-input-placeholder{
    color: rgba(46,26,51,0.75) !important;
}
:-moz-placeholder{
    color: rgba(46,26,51,0.75) !important;
}

/* ~~~~~ MY BETA LIST ~~~~~ */
#MyBetaList form input#MyBetaList-email{
    background-color:#684e70;
    background-image:none;
    color:#2e1a33;
    font-size:1.4em;
    width:360px;
    padding:10px;
    height:auto;
    margin:0 0 10px;
    text-indent:0;
    cursor:auto;
}
#MyBetaList form input{
    background:url(../images/splash/join-now-btn-1.png) no-repeat top left;
    width:109px;height:40px;
    margin:0 0 0px 271px;
    outline:none;border:none;
    float:none;
    text-indent:-9999px;display:block;
    cursor:pointer;
}
#tellMeMore{
    background-image:url(../images/splash/tell-me-more-btn.png);
    width:380px;height:41px;
}

#MyBetaList-form{border:none;margin-bottom:8px;}

#MyBetaList{padding:0 !important;margin:0 !important;background-color:transparent !important;
    font-size:10px !important;line-height:10px !important;}
#MyBetaList-step1 h2, #MyBetaList-step1 p{display:none;}
#MyBetaList-step2{margin-bottom:25px;color:#ccc;}

#MyBetaList a#MyBetaList-referrer-link:link, #MyBetaList a#MyBetaList-referrer-link:visited{color:#24112a !important;}
.twitter-share-button, .twitter-count-none{margin-top:-1px;}
.alignRight{text-align:right;border-bottom:5px solid #3b2243;margin-bottom:20px;padding-bottom:20px;}


/*====================================== NEW LOGIN & SIGNUP PAGE ===============================*/
@font-face {
    font-family: 'gotham_lightregular' !important;
    src: url('ufonts.com_gotham-light-webfont.eot');
    src: url('ufonts.com_gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_gotham-light-webfont.woff') format('woff'),
         url('ufonts.com_gotham-light-webfont.ttf') format('truetype'),
         url('ufonts.com_gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bookregular' !important;
    src: url('ufonts.com_gotham-book-webfont.eot');
    src: url('ufonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_gotham-book-webfont.woff') format('woff'),
         url('ufonts.com_gotham-book-webfont.ttf') format('truetype'),
         url('ufonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#rooja_login_block {
	width:596px;
	
	position:absolute;
	background-image:url(../images/rooja_signup_block_tiles.PNG);
	background-repeat:repeat-y;
    /*margin: 90px 227px;*/
}

#rooja_login_left_logo {
	background-image:url(../images/rooja_logo.PNG);
	background-repeat:no-repeat;
	width:182px;
	height:82px;
	margin:20px 0 0 20px;
}

#rooja_login_left_text {
	color:#FFF;
	font-family: gotham_lightregular !important;
    font-size: 18px;
    font-weight: lighter;
	margin:40px 0 70px 28px;
}

#rooja_login_left_joinnow{ overflow:hidden;}

#rooja_login_left_joinnow span {
	margin: 0 0 0 28px;
	color:#FFF;
	font-family: gotham_bookregular !important;
	font-weight:normal;
	font-size: 18px;
}

/*#rooja_login_left_joinnow input[type="submit"] {
	background-color:#cc6600;
	width:100px;
	border:none;
	margin:10px 0 0 28px;
	color:#FFF;
    font-family: gotham_bookregular !important;
	font-weight:400;
	font-size:14px;
	cursor:pointer;
	padding:10px;
}*/

#rooja_login_left_joinnow div{
	background-color:#cc6600;
	width:70px;
	border:none;
	margin:10px 0 0 28px;
	color:#FFF;
    font-family: gotham_bookregular !important;
	font-weight:400;
	font-size:14px;
	cursor:pointer;
	padding:10px;
}

#rooja_login_left_joinnow a:hover{ color:#FFFFFF;}

.rooja_login_left {
	width:256px;
	float:left;
}

.rooja_login_right {
	width:340px;
	float:left;	
}

.rooja_login_right form{
margin:0px!important;
}

.rooja_login_right_memberlogin {
	text-align:center;
	font-family: gotham_bookregular !important;
	font-size:28px;
	font-weight:normal;
	color:#d3d3d3;   margin: 44px 0 30px;
}

.rooja_login_right_fb {
	width:276px;
	height:50px;
	background-image:url(../images/facebooklogin.PNG);
	display:block;
	margin-left:35px;
}



.rooja_login_or_img {
	background-image:url(../images/rooja_or.PNG);
	width:276px;
	height:50px;
	display:block;
	margin:15px 0 15px 35px;
}

.rooja_login_right_bottom_text {
	font-family: gotham_bookregular !important;
	font-size:17px;
	font-weight:normal;
	color:#d3d3d3;
	margin: 10px 0 10px 42px;
}

.rooja_login_right input[type="text"] {
	background-color:#684e70;
	border:solid 1px #3e2647;
	color:#000;
	width:241px;
	margin: 5px 0 0 35px;
	padding:10px;
}

.rooja_login_right input[type="password"] {
	background-color:#684e70;
	border:solid 1px #3e2647;
	color:#000;
	width:241px;
	margin: 5px 0 0 35px;
	padding:10px;
}

.rooja_login_right_login {
  overflow:hidden; margin-left:35px!important; margin-bottom:40px!important;
}

.rooja_login_right_login span {
	color: #D3D3D3;
 	font-family: gotham_bookregular !important;
	font-weight:lighter;
	font-size: 10px;
	text-decoration:none;
}

.rooja_login_right_login span:hover{ text-decoration:underline; color:#D3D3D3; cursor:pointer;}

.rooja_login_right_login a {
	color: #D3D3D3;
 	font-family: gotham_bookregular !important;
	font-weight:lighter;
	font-size: 10px;
	text-decoration:none;   margin-left: 68px!important;
}

.rooja_login_right_login a:hover {
	text-decoration:underline;
}

.rooja_login_right_login a:hover:active {
	color:#b280c3;
}



.rooja_login_right_login input[type="submit"] {
	background-color:#000;
	border:none;
	width:100px;
	margin:5px 0 0 0 ;
	color:#FFF;
    font-family: gotham_bookregular !important;
	font-weight:400;
	font-size:14px;
	cursor:pointer;
	padding:10px;
}

.rooja_login_right_login span {
	color:#d3d3d3;
}


#rooja_signup_block {
	background-image:url(../images/rooja_signup_tile_bg.PNG);
	background-repeat:repeat-y;
	width:596px;
	    /*margin: 0px 227px;*/
}

#rooja_right_corner {
	min-height: 27px;
  }

#rooja_right_corner span {
    background-color: #342539;
    color: #D3D3D3;
    font-family: gotham_bookregular !important;
    font-size: 12px;
	float: right;
    /*margin-left: 630px;*/
    padding: 7px 7px 8px;
}

#rooja_right_corner a {
    background-color: #342539;
    color: #D3D3D3;
    font-family: gotham_bookregular !important;
    font-size: 12px;
    text-decoration: none;
}

#rooja_right_corner a:hover {
	text-decoration:underline;
}

#rooja_right_corner a:hover:active {
	color:#684E70;
}

#rooja_signup_left_logo {
	background-image:url(../images/rooja_logo.PNG);
	background-repeat:no-repeat;
	width:171px;
	height:84px;
}

#rooja_signup_left_joinnow span {
	margin: 0 0 0 60px;
	color:#FFF;
	font-family: gotham_bookregular !important;
	font-weight:normal;
	font-size: 18px;
}

#rooja_signup_left_joinnow input[type="submit"] {
	background-color:#cc6600;
	width:100px;
	border:none;
	margin: 25px 216px 10px;
	color:#FFF;
    font-family: gotham_bookregular !important;
	font-weight:400;
	font-size:14px;
	cursor:pointer;
	padding:10px;
	height:35px;
}

#rooja_signup_input_block {
	margin: 0px; 
}

#rooja_signup_input_block form{
	clear: both;    
    margin-left: 34px;
	margin-bottom:0px!important;
    overflow: hidden;
}

.rooja_signup_text label{ display:none;}

.rooja_signup_left {
    float: left;
    margin: 5px 0 0 30px;
    width: 256px;
}

.rooja_signup_right {
    float: left;
    margin: 23px 0 0 10px;
}

.rooja_singup_error_msg{ overflow:hidden; }

.rooja_singup_error_msg .error-msg{ padding-left:40px!important; background-image:url(../images/rooja_signup_tile_bg.PNG);
	background-repeat:repeat-y; width:596px;   }

.rooja_signup_right_memberlogin {
	
	font-weight:normal;
	color:#D3D3D3;
	font-family: gotham_lightregular !important;
    font-size: 18px;
    font-weight: lighter;
}

.rooja_signup_right_fb {
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    margin-left: 160px;
    margin-right: 160px;
   
}

.rooja_signup_right_fb a {
	background-image:url(../images/facebooklogin.PNG);
	height:50px;
	display:block;
}

.rooja_signup_or {
	background-image:url(../images/rooja_signup_or.PNG);
	width:596px;
	height:47px;
}


.rooja_login_right_login_alternate {
	width:276px;
	height:50px;
	display:block;
	margin:15px 0 15px 0;
}

.rooja_signup_right_bottom_text {
    color: #D3D3D3;
    font-family: gotham_bookregular !important;
    font-size: 18px;
    font-weight: normal;
    margin: 13px 0;
    padding: 0 161px 0 190px;
}

.rooja_signup_right_login
 {
    width: 276px;
}

.rooja_signup_right_login a {
	color: #D3D3D3;
 	font-family: gotham_bookregular !important;
	font-weight:lighter;
	font-size: 16px;
}

.rooja_signup_right_login span {
	color:#d3d3d3;
}

.rooja_signup_text input[type="text"] {
	background-color:#684e70;
	border:solid 1px #472652;
	width:238px;
	margin-bottom: 10px;
	color:#000!important;
	padding:10px;
}

.rooja_signup_email input[type="text"] {
	background-color:#684e70;
	border:solid 1px #472652;
	width:502px;
	margin-bottom: 10px;
	color:#000!important;
	padding:10px;
}

.rooja_signup_mobile input[type="text"] {
	background-color:#684e70;
	border:solid 1px #472652;
	width:238px;
	color:#000!important;
	padding:10px;
	float:left;
	margin-right:5px;
}

.rooja_signup_mobile .required{
	float:left;
	margin: 9px 5px 0 5px;
	font-family: 'gotham_bookregular';
	font-size:14px;
}

.rooja_signup_text_password input {
	background-color:#684e70;
	border:solid 1px #472652;
	width:238px;
	color:#000!important;
	padding:9px 10px 10px 10px;
}

.rooja_signup_mobile span {
	margin: 0 5px 0 7px;
	font-family: 'gotham_bookregular';
	font-size:14px;
}

.rooja_signup_mobile {
	color:#D3D3D3;
	float:left;
	width:100%;
}

.rooja_signup_mobile select {
	background-color:#fff;
	border:solid 1px #472652;
	width:189px;
	color:#472652;
    padding: 5px !important;
	margin-top:0px;
	height:35px;
	padding: 5px 5px 7px 5px !important;
}

.customer-name .field:first-child{
	margin-right:5px!important;
}

.rooja_signup_mobile select option { border-bottom-style:none; }

.rooja_signup_bottom_bgcolor {
	background-image:url(../images/rooja_signup_bg_tilex.PNG);
	background-repeat:repeat-x;
	margin-bottom:70px;
}

.rooja_signup_bottom_tags {
	background-image:url(../images/rooja_bottom_tags.PNG);
	display:block;
	height:61px;
	color: #D3D3D3;
	font-family:"Times New Roman", Times, serif;
	font-size:13px;
}


.rooja_signup_tagtxt {
	float: left;
	margin-left:55px;
	padding-top:22px;
}

.rooja_signup_tagtxt span {
		
		color: #D3D3D3;
		font-family:gotham_lightregular !important;
		font-size:14px;
}

.rooja_signup_tagtxt_free {
	float: left;
	width: 196px;
	padding:22px 0 5px 1px;
}

.rooja_signup_tagtxt_free span {
		margin: 0 0 0 80px;
		color: #D3D3D3;
		font-family:gotham_lightregular !important;
		font-size:14px;
}

.rooja_signup_tagtxt_cod {
	float: left;
	padding-top:22px;
}

.rooja_signup_tagtxt_cod span {
		color: #D3D3D3;
		font-family:gotham_lightregular !important;
		font-size:14px;
		margin-left: 65px;
}

#rooja_signup_wrapper {
    /*background-image: url("../images/rooja_bg.JPG");
    background-repeat: no-repeat;
    height: 624px;*/
	overflow:hidden;
    margin: auto;
    padding-top: 50px;
	width:595px;

}

#rooja_login_wrapper{ width:595px; margin:auto; padding-top:50px;}

#rooja_signin_top{ overflow:hidden; }

.rooja_login_right .error-msg{ background:#482753;}

#rooja_signup_cover{ margin:auto 0;}

.rooja_signup_mobile label{
   float: left;
   font-family: gotham_bookregular;
   font-size: 14px;
   margin-right: 5px;
   margin-top: 9px;
}

/*====================================== END NEW LOGIN & SIGNUP PAGE ===============================*/
