@charset "UTF-8";
/*
Designed and developed by philosophie llc

Client: 
Project: Website 1.0
Designers: Emerson Taymor and Skot Carruth

� all work is an act of philosophie

===COLOR SCHEME===

Background: 
Links: 
Headers: 
Accent: 
Borders: 
	
*/

body{
	font-family: arial, sans-serif;
	font-size: .625em;
	line-height:.625em;
	color:#000;
	background:;
}

.container{margin: 0 auto;width:980px;padding:0 10px;}

/* ~~~~~ GRID ~~~~~ */

.col1{width:230px;margin-right:20px;}
.col2{width:480px;margin-right:20px;}
.col3{width:730px;}
.col4{width:980px;}


/* ~~~~~ HEADER ~~~~~ */

/*Header*/
#mainHeader{
	background: #431f4c;
	overflow: hidden;
}

#logo a{
	background-image: url(../images/rooja-logo.png);
	width: 107px; height: 60px;
	float: left;
}

#mainNav{
	float: left;
	width: 400px;
	height:70px;
	margin: -10px 0px 0px 140px;
}
#mainNav ul li{
	display: inline-block;
	margin-right: 25px;
	height: 50px;
	padding: 10px 25px 10px 15px;
	background: url("../images/icons/arrow-nav-dark.png") no-repeat scroll 90% 50%;
}
#mainNav ul li:hover{
	background: url("../images/icons/arrow-nav-white.png") no-repeat  scroll 90% 50%;
	background-color: #220f26;
	padding-left: 15px;
}
#mainNav ul li div{
	display:none;
	position: absolute;
	font-size: 1.4em;
	z-index: 15;
	width: 135px;
	top: 70px;
	color:#fff;
	text-decoration: none;
	margin-left: -15px;
	background: #220f26;
}
#mainNav ul li:hover div {
	display: block;	
}
#mainNav ul li div ul{
	border-top: solid 1px #431f4c;
	padding-top:10px;
}
#mainNav ul li div ul li{
	display: block;
	background-image: none;
	margin:0;
	height:auto;
	padding:0;
}
#mainNav ul li div ul li.navSectTitle{
    text-transform: uppercase;
	color: #ab8fb2;
	padding:5px 15px;
	font-family: "ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;
	margin-bottom:10px;
}
#mainNav ul li div ul li a{
	text-transform: none;
	font-size: 0.857em;
	color: #fff;
	font-family: Arial;
	font-weight: normal;
	line-height:1.3em;
	display:block;
	padding:8px 15px;
}
#mainNav ul li ul li:hover{
	background-color: transparent;
	background-image: none;
	padding:0;
}
#mainNav ul li ul li a:hover{
	background-color: #431f4c;
}
#mainNav ul li a{
	font-size: 1.4em;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	top: 43%;
	font-family: "ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;
}
#accountLinks{
	float: right;
	margin: 15px 0px 10px 10px;
}
ul#myAccount{float:left;}
ul#myAccount li{
	float: left;
	height: 30px;
	padding: 10px 20px 10px 0px;
	background: url("../images/icons/arrow-nav-white.png") no-repeat right 8px;
}
ul#myAccount li a{
	text-transform: none;
	font-family: Arial;
	font-size: 1.2em;
	color: #fff;
}
ul#myAccount li ul {
	display: none;
	position: absolute;
	background: #220f26;
	top:  35px;
	z-index: 15;
	width: 135px;
	top: 70px;
}
ul#myAccount li:hover ul {display: block;}

ul#myAccount li ul li{
	display: block;
	font-size: 1.0em;
	z-index: 15;
	color:#fff;
	text-decoration: none;
	background-image: none;
}
ul#myAccount li ul li a{
    line-height:1.3em;
	display:block;
	padding:8px 15px;
}
ul#myAccount li ul li a:hover{
	background-color: #431f4c;
	cursor: pointer;
}
#myBag{
	display: block;
	float: left;
	width: 100px;
	height: 5px;
	margin-left: 10px;
	padding: 10px 0px 10px 20px;
	background: url("../images/icons/bag.png") no-repeat 10px 4px;
	text-indent: 30px;
	color: #fff;
	font-size: 1.2em;
	border-left: 1px dotted #fff;
}

/* ~~~~~ FOOTER ~~~~~ */

#mainFooter{width:100%;background:url(../images/bgs/footer-diag.png) repeat;padding:30px 0;color:#fff;overflow:hidden;}
#mainFooter a{color:#fff;text-decoration:underline;}
#mainFooter h4{text-transform:uppercase;font-size:1.4em;margin-bottom:20px;}
#mainFooter ul li{font-size:1.2em;line-height:1.67em;}
#mainFooter ul#socialLinks, #mainFooter ul#socialLinks a, #copyrightInfo, #copyrightInfo a{color:#c7b299;}
#mainFooter ul#socialLinks img{vertical-align:middle;margin:5px 5px 5px 0;}
#twitter_update_list{padding:12px;background:url(../images/bgs/twitter-diag.png) repeat;margin-bottom:8px;}
#copyrightInfo {margin-top:-50px;}
#copyrightInfo a{text-decoration:none;}

/* ~~~~~ PAGE ~~~~~ */

.staticContent{margin:30px 0 30px;overflow:hidden;}
.staticContent h1{margin-bottom:20px;}
.staticContent h2{margin:30px 0 10px;}
    /*#pageContent{margin-top:-30px;}*/
    #pageContent{margin-top:20px;}

p.question{margin:0;font-weight:bold;color:#431f4c;}
#tocLinks{font-size:1.2em;line-height:2em;}
#tocLinks a{text-decoration:underline;}


/* ~~~~~ HOME ~~~~~ */
#liveSales{background:url(../images/bgs/black-diag.png) repeat;overflow:hidden;padding:30px 0;}

.homeSale, .homeAd{position:relative;overflow:hidden;width:236px;margin-bottom:4px;margin-right:4px;}
.size1{height:353px;}
.size2{height:238px;}
.size3{height:123px;}

.homeSale h2{color:#fff !important;font-size:2em;padding:15px 10px;display:block;width:222px;background:url(../images/bgs/purp-opacity-photo-diag.png) repeat;position:absolute;bottom:0px;z-index:10;margin: 0;}
.homeAd{background:url(../images/bgs/orange-diag.png) repeat;padding: 10px;width:217px;height:  103px;color:#fff;}
.homeAd h3 a{text-transform:uppercase;font-size:14px;text-decoration:underline;margin-bottom:5px;color:#fff;font-weight:normal;}
.homeAd p{margin-bottom:0px;}

#extraSales{overflow:hidden;padding-bottom:30px;}
#endingSoon h2{text-transform:uppercase;color:#c60;margin:15px 0;overflow:hidden;}

.saleDetails{margin-right:18px;text-align:center;}
.saleDetails img{margin-bottom:15px;}
.saleDetails h3{margin-bottom:10px;}
.saleDetails p{color:#c60;}

#upcomingSales{padding:12px 8px;background-color:#d1dddf;color:#555;margin-top:54px;width:214px;}
#upcomingSales h2{color:#555;text-transform:uppercase;margin-bottom:25px;}
.upcomingDate{width:96px;float:left;margin-right:20px;height:130px;}
.upcomingDate h4{padding-bottom:8px;border-bottom:1px solid #555;margin-bottom:8px;}
.upcomingDate ul li{font-size:1.3em;padding-bottom:2px;line-height:1.1em;}

/* ~~~~~ SALES  ~~~~~ */
#saleInfo{padding-top:25px;}
#saleInfo h1{margin-bottom:20px;}
#filterSale{position: relative;margin-top:25px;padding:15px 10px 25px;background-color:#e1e1e1;}
.shareThis p{margin-bottom:10px;}
.shareThis img{margin-left:5px;}
#filterSale select{width:100%;font-size:1.4em;margin-bottom:10px;}
#filterSale a {text-decoration:underline;color:#949494;font-size:1.2em;float:left;margin-top:12px;position: absolute;bottom: 15px;}
#filterSale a.btn-remove {float: left;position: relative;margin: 3px 8px 0 0;bottom: 0;font-size: 14px;}
#filterSale ul li {min-height: 25px;line-height: 18px;}
#filterSale ul li span {font-size: 14px;}
.sideAd{background-color:#d68533;padding:15px 10px;margin-top:5px;}
.sideAd p{font-weight:bold;color:#fff;margin:0;background:url(../images/icons/rupee-icon.png) no-repeat left center;padding-left:28px;}

.product{width:230px;height:230px;overflow:hidden;position:relative;margin-bottom:20px;}
.product img{position:relative;}
.product .productCore{background: url("../images/bgs/purp-opacity-photo-diag.png") repeat scroll 0 0 transparent;bottom: 0;height: 38px;left: 0;padding: 6px 10px;position: absolute;width: 210px;z-index: 10;}
.product .productCore.soldOut{background-image:url(../images/bgs/pink-diag.png);}
.product .productCore h2.productName{display:none;color:#fff;padding:6px 10px;background:url(../images/bgs/purp-opacity-photo-diag.png) repeat;text-align:right;}
.productCore .numLikes{float:left;margin-top:10px;background:url(../images/icons/thumbs-up.png) no-repeat top left;padding-left:28px;height:20px;line-height:20px;font-size:1.2em;color:#fff;}
.productCore .price{float:right;text-align:right;width:140px;font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;color:#b4adb3;font-size:1.4em;margin-bottom:0;}
.productCore .price span.livePrice{font-size:1.71em;display:block; color:#fff;text-decoration: none;}
.productCore .price span {text-decoration:line-through;}
.productCore.soldOut .price{text-decoration:none;}
.productCore.soldOut .price span {text-decoration:none;}

.numLeft{background:url(../images/icons/limited-items-left.png) no-repeat top left;z-index:10;height:40px;width:42px;padding:13px 11px 0 0;display:block;position:absolute;top:0px;right:0px;color:#fff;font-weight:bold;font-size:1.6em;text-align:right;}

/* ~~~~~ PRODUCT DETAILS ~~~~~ */

h2#saleDetails{color:#c60;margin:22px 0 5px;}
#productBreakdown{padding:10px 5px;border-top:1px solid #ccc;border-bottom:1px solid #8e7994;margin-bottom:15px;}
#productBreakdown li{display:inline;padding:0 4px;}
#productBreakdown li a{color:#666;}

#likeThis{background-color:#431f4c;padding:8px 11px;font-weight:bold;color:#fff;line-height:34px;height:34px;}
#likeBtn{background-image:url(../images/icons/like-btn.png);width:62px;height:34px;}

#productOptions{
    margin-top:10px;
    padding:15px 10px;
    background-color:#e1e1e1;
}
#productOptions p.startingPrice{color:#666;margin-bottom:6px;}
#productOptions p.currentPrice{color:#431f4c;}
#productOptions p.currentPrice span{font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;font-size:1.67em;}
#productInfo {min-height: 400px;}

#colors, #sizes{clear:both;display:block;margin-bottom:10px;overflow:hidden;width:140px;}
#colors li, #sizes li{display:inline;}
#colors li a, #sizes li a{display:block;float:left;margin-right:5px;border:1px solid #000;}
#colors li a{width:14px;height:14px;}
#sizes li a{width:25px;height:19px;background-color:#bcbcbc;text-align:center;font-size:1.1em;color:#808080;border-color:#a1a1a1;line-height:19px;}
.sizeChart{color:#555;margin-top:5px;text-decoration:underline;background:url(../images/icons/size-chart.png) no-repeat center left;padding-left:16px;height:12px;line-height:12px;}
#qty{width:35px;height:24px;border:1px solid #9d9d9d;text-align:center;color:#595959;font-size:1.2em;margin-right:10px;}
#productOptions label{color:#595959;}

#addToBagBtn{background-image:url(../images/icons/add-to-bag.png);width:230px;height:50px;margin-top:5px;}
#estimatedShippingDate{width:230px;padding:8px 0;text-align:center;background-color:#6f989d;color:#2b3536;margin:0;}

#prevNextLinks{margin:5px 0 0;position: absolute;width: 80px;}
#prevProduct, #nextProduct {position:relative;}
#prevProduct .contain, #nextProduct .contain {height: 75px;overflow: hidden;position: absolute;}
#prevProduct img {max-width: 75px;}
#nextProduct img {max-width: 150px;}
#prevProduct p, #nextProduct p{position:absolute;z-index:10;top:0;left:0;height:75px;display:block;background:url(../images/bgs/gray-opacity-photo-diag.png) repeat;font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;line-height:75px;text-align:center;font-size:2.4em;color:#fff;position: absolute;}
#prevProduct p{width:75px;}
#nextProduct p{width:150px;float: right;}

#commentsRelated{background:url(../images/bgs/black-diag.png) repeat;overflow:hidden;margin-top:25px;padding:30px 0;}
#commentsRelated h3{color:#fff;margin-bottom:22px;}

#related ul li{display:inline;}
#related ul li a{position:relative;float:left;display:block;margin:0 5px 5px 0px;max-height: 114px;overflow: hidden;}
#related ul li span.numLikes{position:absolute;z-index:10;bottom:0;right:0;background:url(../images/bgs/purp-opacity-photo-diag.png) repeat;padding:6px 10px; color:#fff;font-size:1.2em;}
#related ul li span.numLikes img{margin-right:3px;}

/* ~~~~~ Typography ~~~~~ */

a {text-decoration:none; color:#000;}
a:hover {color: ;}
a.selected{color:;}
h1 {font-size: 3.2em; color: #431f4c; margin-bottom: 10px; font-weight:normal;font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;line-height:.9em;}
h2 {font-size: 2.4em;line-height:1em;font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;font-weight:normal;}
h3 {font-size: 2.4em; color: #431f4c; margin-bottom: 15px; font-weight:normal;font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;}
h4{font-size:1.6em;font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;font-weight:normal;}
p {font-size: 1.2em;line-height:1.4em;margin-bottom:20px;}
p.saleEnding{color:#cc6600;margin-bottom:10px;}

.backTo{margin:18px 0 10px;text-decoration:underline;font-size:1.2em;padding-left:18px;background:url(../images/icons/back-arrow.png) no-repeat top left;height:14px;line-height:14px;display:block;}
.needAssistance{background-color:#cc6600;color:#fff;padding:5px;margin:10px 0;font-size:1.2em;height:20px;display:block;line-height:20px;}
.needAssistance img{vertical-align:middle;}
.backToTop{text-decoration:underline;color:#858585;font-size:1.2em;padding-left:18px;background:url(../images/icons/back-to-top.png) no-repeat top left;height:20px;line-height:20px;display:block;}

/* ~~~~~ FORM STYLES ~~~~~ */
input{border:none;outline:none;}
input.submitBtn{
    font-family:"ltc-bodoni-175-1","ltc-bodoni-175-2", georgia, serif;
    color:#fff;
    text-align:center;
    font-size:1.4em;
    padding:7px 33px;
    cursor:pointer;
    background-color:#431f4c;
}



/* UTILITY CLASSES */
.fl {float: left;}
.fr {float: right;}
.cl {clear: left;}
.cr {clear: right;}
.clear {clear: both;}
.container .noMargin{margin:0px;}
.tr{text-indent:-9999px;display:block;background:no-repeat top left;}
em{font-style:italic;}
strong{font-weight:bold;}

.transparent{  
    filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;  
}

.dropShadow{
	-moz-box-shadow: 0px -1px 5px #333;
	-webkit-box-shadow: 0px -1px 5px #333;
	box-shadow: 0px -1px 5px #333;
}

.roundedCorners{
	-moz-border-radius: 20px;  
	-webkit-border-radius: 20px; 
}

a[href$="pdf"]:after,
a[href$="doc"]:after {
margin:0 0 0 5px;
font:bold 12px "Lucida Grande";
content: " (PDF)";
}
a[href$=".doc"]:after {content: " (DOC)";}

/* Addition styles from AM */
.product-options {background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    margin: 10px 0;
    padding: 10px 10px 0;
    }
.product-options p.required {padding: 0;}
.input-box {position: relative;}
.discount .buttons-set {position: absolute;right:0;float: right;top:0;}