<!--@subject {{var store.getFrontendName()}}: {{var subject}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<p><a href="http://rooja.com" target="_blank"><img src="{{skin url="images/email/email-templates_01.png" _area='frontend'}}" alt="Rooja Fashion"></a></p>
<p>Dear {{var request.getCustomerName()}}!<p>
{{var content}}
{{depend request.getNotifyHasComment()}}
{{var depname}}:<br />
{{var request.getNotifyCommentText()}}
{{/depend}}
<p>You can view your Return Request by following the link <a href="{{var request.getUrl()}}">{{var request.getUrl()}}</a>.</p>
<p>Thank you for using our Return Service.</p>
