<?xml version="1.0"?>
<config>
     <modules>
        <Fix_FixBlockCacheInvalidated>
            <version>1.0.0</version>
        </Fix_FixBlockCacheInvalidated>
    </modules>
	<global>
        <models>
            <catalogrule>
                <rewrite>
                    <rule>Fix_FixBlockCacheInvalidated_Model_Rule</rule>
                </rewrite>
            </catalogrule>
        </models>
    </global>
</config>