<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliateplus>
            <version>0.4.0</version>
        </Magestore_Affiliateplus>
    </modules>
    <frontend>
        <secure_url>
            <affiliateplus_checkout>/affiliateplus/checkout</affiliateplus_checkout>
        </secure_url>
        <routers>
            <affiliateplus>
                <use>standard</use>
                <args>
                    <module>Magestore_Affiliateplus</module>
                    <frontName>affiliates</frontName>
                </args>
            </affiliateplus>
            <affiliate>
                <use>standard</use>
                <args>
                    <modules>
                        <Magestore_Affiliateplus after="Magestore_Affiliate">Magestore_Affiliateplus</Magestore_Affiliateplus>
                    </modules>
                    <frontName>affiliate</frontName>
                </args>
            </affiliate>
        </routers>
        <layout>
            <updates>
                <affiliateplus>
                    <file>affiliateplus.xml</file>
                </affiliateplus>
            </updates>
        </layout>
        <events>
            <catalog_product_get_final_price>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>productGetFinalPrice</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </catalog_product_get_final_price>
            <catalog_block_product_list_collection>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>productListCollection</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </catalog_block_product_list_collection>
            <controller_action_predispatch>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>controllerActionPredispatch</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </controller_action_predispatch>
            <sales_order_place_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>orderPlaceAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </sales_order_place_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <affiliateplus_to_html_after>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>blockToHtmlAfter</method>
                    </affiliateplus_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <salesrule_validator_process>
                <observers>
                    <affiliateplus_validator_process>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>salesruleValidatorProcess</method>
                    </affiliateplus_validator_process>
                </observers>
            </salesrule_validator_process>
        </events>
        <translate>
            <modules>
                <Magestore_Affiliateplus>
                    <files>
                        <default>Magestore_Affiliateplus.csv</default>
                    </files>
                </Magestore_Affiliateplus>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <affiliateplusadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Affiliateplus</module>
                    <frontName>affiliateplusadmin</frontName>
                </args>
            </affiliateplusadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <affiliateplus>
                    <file>affiliateplus.xml</file>
                </affiliateplus>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Affiliateplus>
                    <files>
                        <default>Magestore_Affiliateplus.csv</default>
                    </files>
                </Magestore_Affiliateplus>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <affiliateplus>
                <class>Magestore_Affiliateplus_Model</class>
                <resourceModel>affiliateplus_mysql4</resourceModel>
            </affiliateplus>
            <affiliateplus_mysql4>
                <class>Magestore_Affiliateplus_Model_Mysql4</class>
                <entities>
                    <account>
                        <table>affiliateplus_account</table>
                    </account>
                    <account_value>
                        <table>affiliateplus_account_value</table>
                    </account_value>
                    <banner>
                        <table>affiliateplus_banner</table>
                    </banner>
                    <banner_value>
                        <table>affiliateplus_banner_value</table>
                    </banner_value>
                    <transaction>
                        <table>affiliateplus_transaction</table>
                    </transaction>
                    <payment>
                        <table>affiliateplus_payment</table>
                    </payment>
                    <payment_paypal>
                        <table>affiliateplus_payment_paypal</table>
                    </payment_paypal>
                    <referer>
                        <table>affiliateplus_referer</table>
                    </referer>
                    <action>
                        <table>affiliateplus_action</table>
                    </action>
                    <payment_verify>
                        <table>affiliateplus_payment_verify</table>
                    </payment_verify>
                    <tracking>
                        <table>affiliateplus_tracking</table>
                    </tracking>
                    <credit>
                        <table>affiliateplus_credit</table>
                    </credit>
                    <payment_history>
                        <table>affiliateplus_payment_history</table>
                    </payment_history>
                </entities>
            </affiliateplus_mysql4>
            <!-- <sales>
                <rewrite>
                    <quote_item>Magestore_Affiliateplus_Model_Sales_Quote_Item</quote_item>
                </rewrite>
            </sales> -->
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Magestore_Affiliateplus_Model_Total_Address_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
        </models>
        <resources>
            <affiliateplus_setup>
                <setup>
                    <module>Magestore_Affiliateplus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliateplus_setup>
            <affiliateplus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliateplus_write>
            <affiliateplus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliateplus_read>
        </resources>
        <blocks>
            <affiliateplus>
                <class>Magestore_Affiliateplus_Block</class>
            </affiliateplus>
        </blocks>
        <helpers>
            <affiliateplus>
                <class>Magestore_Affiliateplus_Helper</class>
            </affiliateplus>
        </helpers>
        <template>
            <email>
                <affiliateplus_email_new_account_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to new registered affiliate</label>
                    <file>affiliateplus/new_account.html</file>
                    <type>html</type>
                </affiliateplus_email_new_account_email_template>
                
                <affiliateplus_email_new_account_sales_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to admin when a new affiliate registers</label>
                    <file>affiliateplus/new_account_admin.html</file>
                    <type>html</type>
                </affiliateplus_email_new_account_sales_email_template>
				
                <affiliateplus_email_approved_account_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to new approved affiliate</label>
                    <file>affiliateplus/approved_account.html</file>
                    <type>html</type>
                </affiliateplus_email_approved_account_email_template>	
						
                <affiliateplus_email_new_transaction_account_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to affiliate when a transaction is created</label>
                    <file>affiliateplus/account_newtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_new_transaction_account_email_template>
				
                <affiliateplus_email_new_transaction_sales_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to admin when a transaction is created</label>
                    <file>affiliateplus/sales_newtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_new_transaction_sales_email_template>	
				
                <affiliateplus_email_reduce_commission_account_email_template>
                    <label>Email template sent to affiliate account when commission of a transaction is reduced</label>
                    <file>affiliateplus/account_reducedtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_reduce_commission_account_email_template>
                
                <affiliateplus_email_updated_transaction_account_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to affiliate account when a transaction is changed</label>
                    <file>affiliateplus/account_updatedtransaction.html</file>
                    <type>html</type>
                </affiliateplus_email_updated_transaction_account_email_template>
				
                <affiliateplus_email_request_payment_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to admin when an affiliate requests withdrawal</label>
                    <file>affiliateplus/sales_requestpayment.html</file>
                    <type>html</type>
                </affiliateplus_email_request_payment_email_template>
				
                <affiliateplus_email_process_payment_email_template translate="label" module="affiliateplus">
                    <label>Email template sent to affiliate when withdrawal is processed</label>
                    <file>affiliateplus/account_processpayment.html</file>
                    <type>html</type>
                </affiliateplus_email_process_payment_email_template>
                <affiliateplus_email_refer_template>
                    <label>Refer friends email template</label>
                    <file>affiliateplus/refer.html</file>
                    <type>html</type>
                </affiliateplus_email_refer_template>
                <affiliateplus_email_verify_payment_email translate="label" module="affiliateplus">
                    <label>Email template of Payment verification</label>
                    <file>affiliateplus/verify_email.html</file>
                    <type>html</type>
                </affiliateplus_email_verify_payment_email>
            </email>
        </template>
        <sales>
            <quote>
                <totals>
                    <affiliateplus>
                        <class>affiliateplus/total_address_affiliateplus</class>
                        <after>discount</after>
                        <before>tax</before>
                        <!-- <after>wee,discount,tax,tax_subtotal,grand_total</after> -->
                    </affiliateplus>
                    <affiliateplus_credit>
                        <class>affiliateplus/total_address_credit</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </affiliateplus_credit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <affiliateplus>
                        <class>affiliateplus/total_invoice_affiliateplus</class>
                    </affiliateplus>
                    <affiliateplus_credit>
                        <class>affiliateplus/total_invoice_credit</class>
                        <after>grand_total</after>
                    </affiliateplus_credit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <affiliateplus>
                        <class>affiliateplus/total_creditmemo_affiliateplus</class>
                    </affiliateplus>
                    <affiliateplus_credit>
                        <class>affiliateplus/total_creditmemo_credit</class>
                        <after>grand_total</after>
                    </affiliateplus_credit>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <affiliateplus translate="title">
                    <title>Affiliate Discount</title>
                    <source_field>affiliateplus_discount</source_field>
                    <model>affiliateplus/order_pdf_discount</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>250</sort_order>
                </affiliateplus>
                <affiliateplus_credit translate="title">
                    <title>Paid by Affiliate Credit</title>
                    <source_field>affiliate_credit</source_field>
                    <model>affiliateplus/order_pdf_credit</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>251</sort_order>
                </affiliateplus_credit>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <base_affiliateplus_discount>
                    <to_order>*</to_order>
                </base_affiliateplus_discount>
                <affiliateplus_discount>
                    <to_order>*</to_order>
                </affiliateplus_discount>
                <base_affiliate_credit>
                    <to_order>*</to_order>
                </base_affiliate_credit>
                <affiliate_credit>
                    <to_order>*</to_order>
                </affiliate_credit>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <affiliateplus_amount>
                    <to_order_item>*</to_order_item>
                </affiliateplus_amount>
                <base_affiliateplus_amount>
                    <to_order_item>*</to_order_item>
                </base_affiliateplus_amount>
            </sales_convert_quote_item>
        </fieldsets>
        <events>
            <sales_order_load_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>orderLoadAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </sales_order_load_after>
            <sales_order_save_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>orderSaveAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </sales_order_save_after>
            <paypal_prepare_line_items>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>paypalPrepareItems</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </paypal_prepare_line_items>
            <customer_save_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>customerSaveAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </customer_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>affiliateplus/observer</class>
                        <method>creditmemoSaveAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </sales_order_creditmemo_save_after>
        </events>
        <rewrite>
            <name>
                <from><![CDATA[#^/affiliateplus/#]]>
                </from>
                <to>/affiliates/</to>
                <complete>true</complete>
            </name>
        </rewrite>
    </global>
    <default>
        <affiliateplus>
            <general>
                <show_affiliate_link_on_frontend>1</show_affiliate_link_on_frontend>
                <welcome_page>affiliate-home</welcome_page>
                <expired_time>360</expired_time>
            </general>
            <account>
                <register_description><![CDATA[If you have not had an affiliate account yet, please choose Signup to create a new account quickly.]]></register_description>
                <required_address>0</required_address>
                <required_paypal>1</required_paypal>
                <need_approved>0</need_approved>
                <notification_after_signing_up><![CDATA[You have successfully signed up for an affiliate account.]]></notification_after_signing_up>
                <balance>global</balance>
            </account>
            <commission>
                <affiliate_type>sales</affiliate_type>
                <commission_type>percentage</commission_type>
                <commission>5</commission>
                <use_secondary>0</use_secondary>
                <secondary_type>percentage</secondary_type>
                <secondary_commission>5</secondary_commission>
                <updatebalance_orderstatus>complete</updatebalance_orderstatus>
                <decrease_commission_creditmemo>0</decrease_commission_creditmemo>
                <cancel_transaction_orderstatus>closed,canceled</cancel_transaction_orderstatus>
            </commission>
            <discount>
                <discount_type>percentage</discount_type>
                <discount>0</discount>
                <use_secondary>0</use_secondary>
                <secondary_type>percentage</secondary_type>
                <secondary_discount>0</secondary_discount>
                <type_discount>cart</type_discount>
            </discount>
            <payment>
                <store_credit>0</store_credit>
                <withdrawals>1</withdrawals>
                <payment_release>100</payment_release>
                <payment_method>api</payment_method>
                <who_pay_fees>payer</who_pay_fees>
                <reduce_balance>1</reduce_balance>
            </payment>
            <email>
                <is_sent_email_new_account>1</is_sent_email_new_account>
                <is_sent_email_account_new_transaction>1</is_sent_email_account_new_transaction>
                <is_sent_email_sales_new_transaction>1</is_sent_email_sales_new_transaction>
                <is_sent_email_account_updated_transaction>1</is_sent_email_account_updated_transaction>
                <is_sent_email_sales_request_payment>1</is_sent_email_sales_request_payment>
                <is_sent_email_sales_representative_request_payment>1</is_sent_email_sales_representative_request_payment>
				
                <new_account_email_template>affiliateplus_email_new_account_email_template</new_account_email_template>
                <new_account_sales_email_template>affiliateplus_email_new_account_sales_email_template</new_account_sales_email_template>
                <approved_account_email_template>affiliateplus_email_approved_account_email_template</approved_account_email_template>
                <new_transaction_account_email_template>affiliateplus_email_new_transaction_account_email_template</new_transaction_account_email_template>
                <new_transaction_sales_email_template>affiliateplus_email_new_transaction_sales_email_template</new_transaction_sales_email_template>
                <updated_transaction_account_email_template>affiliateplus_email_updated_transaction_account_email_template</updated_transaction_account_email_template>
                <reduce_commission_account_email_template>affiliateplus_email_reduce_commission_account_email_template</reduce_commission_account_email_template>
                <request_payment_email_template>affiliateplus_email_request_payment_email_template</request_payment_email_template>
                <process_payment_email_template>affiliateplus_email_process_payment_email_template</process_payment_email_template>
                <is_sent_report>1</is_sent_report>
                <report_period>week</report_period>
                <report_template>affiliateplus_email_report_template</report_template>
                <refer_template>affiliateplus_email_refer_template</refer_template>
                <verify_payment_email>affiliateplus_email_verify_payment_email</verify_payment_email>
            </email>
            <action>
                <use_magento_link>0</use_magento_link>
                <detect_iframe>1</detect_iframe>
                <resetclickby>0</resetclickby>
                <detect_cookie>1</detect_cookie>
                <detect_proxy>1</detect_proxy>
                <detect_software>1</detect_software>
                <detect_proxy_header>1,2,3,4,5,6,7,8</detect_proxy_header>
                <detect_proxy_hostbyaddr>0</detect_proxy_hostbyaddr>
                <detect_proxy_bankip>65.49.0.*;64.55.*.*;64.55.*.*;69.22.*.*;69.167.*.*;74.115.*.*;128.241.*.*;140.174.*.*;204.2.*.*;206.14.*.*;209.107.*.*</detect_proxy_bankip>
            </action>
        </affiliateplus>
        <affiliateplus_payment>
            <paypal>
                <active>1</active>
                <label>Paypal</label>
                <model>affiliateplus/payment_paypal</model>
                <helper>affiliateplus/payment_paypal</helper>
            </paypal>
            <credit>
                <active>0</active>
                <label>Store Credit</label>
                <require_authentication>0</require_authentication>
                <model>affiliateplus/payment_credit</model>
            </credit>
        </affiliateplus_payment>
    </default>
    <crontab>
        <jobs>
            <affiliateplus>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>affiliateplus/observer::unHoldTransaction</model>
                </run>
            </affiliateplus>
        </jobs>
    </crontab>
</config>
