<?xml version="1.0"?>
<config>
	<global>
		<helpers>
			<invoice>
				<class>Invoicera_Invoice_Helper</class>
			</invoice>
		</helpers>
		<blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Invoicera_Invoice_Block_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
	</global>
	<frontend>
      <routers>
         <checkout>
            <args>
               <modules>
                  <Invoicera_Invoice before="Mage_Checkout">Invoicera_Invoice</Invoicera_Invoice>
               </modules>
            </args>
         </checkout>
      </routers>
	</frontend>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <invoice_options>
                                            <title>Store Hello World Module Section</title>
                                        </invoice_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 