<?xml version="1.0"?>
<config>
        <sections>
           <checkout>
            <groups>
                <oneclickcartcheckout translate="label">
                    <label>GoldenSpiralStudio OCCC Pro</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <company_status translate="label">
                            <label>Disable Company Field</label>
                            <frontend_type>select</frontend_type>
                             <source_model>adminhtml/system_config_source_yesno</source_model>
                           <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </company_status> 
                        <phone_status translate="label">
                            <label>Disable Phone Field</label>
                            <frontend_type>select</frontend_type>
                                                         <source_model>adminhtml/system_config_source_yesno</source_model>

                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </phone_status>  
                        <fax_status translate="label">
                            <label>Disable Fax Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fax_status>
                        <city_status translate="label">
                            <label>Disable City Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </city_status>
                         <state_status translate="label">
                            <label>Disable State Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </state_status>
                        
                        <second_address_line translate="label">
                            <label>Disable Second Address Line</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </second_address_line>
                        
                        <zip_status translate="label">
                            <label>Disable Zip/Postal Field</label>
                            <frontend_type>select</frontend_type>
                                                        <source_model>adminhtml/system_config_source_yesno</source_model>

                             <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </zip_status>
                        <country_status translate="label comment">
                            <label>Country</label>
                            <comment>OneClickCartCheckout can detect IP based on Browser's Header Information</comment>
                            <is_simplified>1</is_simplified>
                            <frontend_type>select</frontend_type>
                            <source_model>oneclickcartcheckout/config_country</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </country_status>
                        <comment_status translate="label">
                            <label>Disable Comments </label>
                            <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>By default customer can attach comment to his order</comment>
                            <sort_order>800</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </comment_status>
                        <pdd_status translate="label">
                            <label>Disable Prefered Delivery Date Field</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pdd_status>
                        <checkout_style translate="label comment">
                            <label>Appearance Style</label>
                            <comment>OneClickCartCheckout has few styles to decorate your checkout page.</comment>
                            <is_simplified>1</is_simplified>
                            <frontend_type>select</frontend_type>
                            <source_model>oneclickcartcheckout/config_style</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </checkout_style>
                        <reminder translate="label comment">
                            <label>Reminder</label>
                            <comment>Remind your clients with e-mails for forgotten-to-buy products, which stored in their shopping carts. Select template for reminder email. </comment>
                            <is_simplified>1</is_simplified>
                            <frontend_type>select</frontend_type>
                            <source_model>oneclickcartcheckout/config_reminder</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </reminder>
                    </fields>
                </oneclickcartcheckout>
            </groups>
           </checkout>
        </sections>
</config>