<?xml version="1.0"?>
<config>
		<modules>
                <Invoicera_Ajax>
                        <version>0.1.0</version>
                </Invoicera_Ajax>
        </modules>
        <frontend>
                <routers>
                        <ajax> 
                                <use>standard</use>
                                <args>
                                        <module>Invoicera_Ajax</module>
                                        <frontName>ajax</frontName>
                                </args>
                        </ajax>
                </routers>
        </frontend>          
</config>

