<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliatepluscoupon>
            <version>0.4.0</version>
        </Magestore_Affiliatepluscoupon>
    </modules>
    <frontend>
        <routers>
            <affiliatepluscoupon>
                <use>standard</use>
                <args>
                    <module>Magestore_Affiliatepluscoupon</module>
                    <frontName>affiliatepluscoupon</frontName>
                </args>
            </affiliatepluscoupon>
        </routers>
        <layout>
            <updates>
                <affiliatepluscoupon>
                    <file>affiliatepluscoupon.xml</file>
                </affiliatepluscoupon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Affiliatepluscoupon>
                    <files>
                        <default>Magestore_Affiliatepluscoupon.csv</default>
                    </files>
                </Magestore_Affiliatepluscoupon>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>couponPostAction</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
            <controller_action_predispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>couponPostActionOneStep</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </controller_action_predispatch_onestepcheckout_index_add_coupon>
            <sales_quote_load_after>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>quoteGetCouponCode</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </sales_quote_load_after>
            <!-- David -->
            <core_block_abstract_to_html_before>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>beforeToHtml</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>afterToHtml</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_postdispatch_onestepcheckout_index_add_coupon>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>couponPostDistpatchActionOneStep</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </controller_action_postdispatch_onestepcheckout_index_add_coupon>
        </events>
    </frontend>
    <admin>
        <routers>
            <affiliatepluscouponadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Affiliatepluscoupon</module>
                    <frontName>affiliatepluscouponadmin</frontName>
                </args>
            </affiliatepluscouponadmin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <affiliatepluscoupon>
                    <file>affiliatepluscoupon.xml</file>
                </affiliatepluscoupon>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magestore_Affiliatepluscoupon>
                    <files>
                        <default>Magestore_Affiliatepluscoupon.csv</default>
                    </files>
                </Magestore_Affiliatepluscoupon>
            </modules>
        </translate>
        <events>
            <affiliateplus_adminhtml_add_account_tab>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>addAccountTab</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </affiliateplus_adminhtml_add_account_tab>
            <affiliateplus_adminhtml_after_save_account>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>afterSaveAccount</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </affiliateplus_adminhtml_after_save_account>
            <affiliateplusprogram_adminhtml_edit_actions_discount>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>editProgramForm</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </affiliateplusprogram_adminhtml_edit_actions_discount>
            <affiliateplus_adminhtml_add_field_transaction_form>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>addFieldTransactionForm</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </affiliateplus_adminhtml_add_field_transaction_form>
        </events>
    </adminhtml>
    <global>
        <models>
            <affiliatepluscoupon>
                <class>Magestore_Affiliatepluscoupon_Model</class>
                <resourceModel>affiliatepluscoupon_mysql4</resourceModel>
            </affiliatepluscoupon>
            <affiliatepluscoupon_mysql4>
                <class>Magestore_Affiliatepluscoupon_Model_Mysql4</class>
                <entities>
                    <coupon>
                        <table>affiliateplus_coupon</table>
                    </coupon>
                </entities>
            </affiliatepluscoupon_mysql4>
        </models>
        <resources>
            <affiliatepluscoupon_setup>
                <setup>
                    <module>Magestore_Affiliatepluscoupon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliatepluscoupon_setup>
            <affiliatepluscoupon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliatepluscoupon_write>
            <affiliatepluscoupon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliatepluscoupon_read>
        </resources>
        <blocks>
            <affiliatepluscoupon>
                <class>Magestore_Affiliatepluscoupon_Block</class>
            </affiliatepluscoupon>
            <!-- <checkout>
                <rewrite>
                    <cart_coupon>Magestore_Affiliatepluscoupon_Block_Cart_Coupon</cart_coupon>
                </rewrite>
            </checkout> -->
        </blocks>
        <helpers>
            <affiliatepluscoupon>
                <class>Magestore_Affiliatepluscoupon_Helper</class>
            </affiliatepluscoupon>
        </helpers>
        <events>
            <affiliateplus_get_affiliate_info>
                <observers>
                    <affiliatepluscoupon_observer>
                        <type>singleton</type>
                        <class>affiliatepluscoupon/observer</class>
                        <method>getAffiliateInfo</method>
                    </affiliatepluscoupon_observer>
                </observers>
            </affiliateplus_get_affiliate_info>
        </events>
        <fieldsets>
            <sales_convert_quote_address>
                <affiliateplus_coupon>
                    <to_order>*</to_order>
                </affiliateplus_coupon>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <default>
        <affiliateplus>
            <coupon>
                <enable>1</enable>
                <pattern><![CDATA[AFFILIATE-[N.4]-[AN.5]-[A.4]]]></pattern>
                <parallel>0</parallel>
            </coupon>
        </affiliateplus>
    </default>
</config>